@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.header {
  background-color: #fff; /* Adjust color to match your design */
  padding: 0.7rem 2rem; /* Adjust padding to match your design */
  border-radius: 30px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navItem {
  margin-right: 2rem; /* Adjust spacing to match your design */
}

.navItem {
  color: #501EE5;
}

.navItem:last-child {
  margin-right: 0;
}

.navItem a {
  text-decoration: none;
  color: #000; /* Adjust link color to match your design */
  font-family: 'Sora', sans-serif;
  position: relative; /* Add this line */
}

.navItem a:hover::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust as needed */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust thickness as needed */
  background-color: #501EE5; /* Adjust shade color */
}

.loginButton {
  margin-left: 16px;
  padding: 0.5rem 1rem;
  background-color: #501EE5;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 20px 0 rgba(80, 30, 229, 0.2); /* Softer shadow for a more modern look */
  border: none; /* Remove the border for a cleaner look */
  transform: translateY(0); /* Initial state for the transform */
  will-change: transform; /* Optimizes animations */
}

.loginButton:hover, .loginButton:focus {
  background-color: #fff;
  color: #501EE5;
  box-shadow: 0 8px 25px 0 rgba(80, 30, 229, 0.3); /* Slightly larger shadow for depth */
  outline: none; /* Remove focus outline to maintain style */
}

/* Adding focus styles for accessibility */
.loginButton:focus-visible {
  box-shadow: 0 0 0 4px rgba(80, 30, 229, 0.5); /* Highlight focus */
}


