.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: transparent;
    color: #333;
    position: relative;
    overflow: hidden;
    padding: 5% 0; /* more padding on top and bottom */
}

.logoWrapper {
    position: relative;
    width: 220px;
    height: 40px;
    animation: float 3s ease-in-out infinite;
    align-self: center;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.introText {
    max-width: 600px;
    text-align: center;
    margin: 2rem auto 2rem; /* add more bottom margin */
    padding: 0 1.5rem; /* add padding to ensure the text doesn't touch the edges on small screens */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
    color: #1a202c;
    animation: textFocusIn 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes textFocusIn {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.p {
    font-size: 1.25rem;
    margin: 1rem 0;
    color: #4a5568;
    line-height: 1.6;
}

.imageWrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin: 2rem 0;
}

.loginButton {
    padding: 1rem 2rem;
    background-color: #501EE5;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 20px 0 rgba(80, 30, 229, 0.2); /* Softer shadow for a more modern look */
    border: none; /* Remove the border for a cleaner look */
    transform: translateY(0); /* Initial state for the transform */
    will-change: transform; /* Optimizes animations */
}

.loginButton:hover, .loginButton:focus {
    background-color: #fff;
    color: #501EE5;
    box-shadow: 0 8px 25px 0 rgba(80, 30, 229, 0.3); /* Slightly larger shadow for depth */
    transform: translateY(-3px); /* Lift button to imply action */
    outline: none; /* Remove focus outline to maintain style */
}

/* Adding focus styles for accessibility */
.loginButton:focus-visible {
    box-shadow: 0 0 0 4px rgba(80, 30, 229, 0.5); /* Highlight focus */
}


.loginButtonContainer {
    animation: slideInFromBottom 1s ease-out both;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
